<div class="container">
    <div class="row">
        <form class="container">
            <div class="form-group">
              <label for="name">Usuário</label>
              <input type="text" [(ngModel)]="users.nome" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Usuário">
            </div>
            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" [(ngModel)]="users.senha" name="senha" class="form-control" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-primary" (click)="fazerCadastro()">Cadastrar</button>
            <br>
        </form>
    </div>
</div>