#navbarTogglerDemo01{
    margin-left: 10px;
    font-size: 18px;
}
#alugar{
    margin-left: 15px;
}
#tableAlugar{
    margin: 0 auto;
    margin-top: 40px;
    background-color:#f8f9fa;;
    border-radius: 10px;
    padding: 10px;
}
#tableAlugadas{
    margin: 0 auto;
    margin-top: 40px;
    background-color:#f8f9fa;;
    border-radius: 10px;
    padding: 10px;
}
#dropdown{
    margin-left: -100px;
    background-color: #adb5bd;;
    margin-top: 10px;
    border-radius: 10px;
}
#logoOut{
    margin-left: 18px;
}
#option{
    margin-left: 252px;
    margin-top: 20px;
    width: 150px;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 10px;
}